# Ignore everything
*

# But not these files...
!*/
!.gitignore
!SQL/*
!PowerShell/*
!PowerShell/Profile_scripts/*
!PowerShell/User_defined_functions/*/*
!Power_BI/*

#Specifically these
PowerShell/powershell.config.json
nvim_plugins/
